@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fullWidth {
  0% {
    width: 0%;
    opacity: 0.25;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
.post-wrapper.post-wrapper-inside .post-details, .post-wrapper.post-wrapper-main .post-details__title:hover, .post-wrapper .post-image::after, .post-wrapper .post-image::before {
  transition: all ease 0.25s;
}

.header-nav__list-post-wrapper, .header-nav__list-lv3, .header-nav__list-lv2 {
  animation: fadeIn ease 0.4s;
}

.header-nav__list-post-wrapper, .header-nav, .header-body__socials-search-input input, .header-body__socials-search-input, .header-body__socials-search, .top, .form-subcribe, button.btn, .post-wrapper .post-image {
  border-radius: 4px;
}

.top, .pin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom, .container-content .list-post-wrapper-content li .post-wrapper.post-wrapper-main, .header-nav__list-lv2-item-link, .header-nav__list-lv1, .header-nav, .header-body__socials-search-input, .header-body__socials-search, .header-body__socials-list, .header-body__socials, .header-body, .header-menu__list-right, .header-menu__list-left, .header-menu, button.btn.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

button.btn.loading, .post-wrapper .post-details__desc {
  display: flex;
  align-items: center;
}

.container-slider .post-wrapper .post-image .post-details__desc {
  display: flex;
  justify-content: center;
}

.header-body__socials-search-input {
  animation: fullWidth ease-in-out 0.25s;
}

.footer-bottom__socials-icon:hover, .header-body__socials-search, .header-body__socials-item-link:hover, .header-menu__item-link:hover, button.btn.socials:hover, button.btn:hover, .post-details__category-title:hover, .post-wrapper .post-details__desc-author span :hover {
  transition: all linear 0.2s;
  will-change: transition;
}

.header-nav__list-lv3, .header-nav__list-lv2 {
  position: absolute;
  background: #0a0909;
  border-radius: 4px;
  padding-block: 24px;
  display: none;
}

.header-nav__list-lv3-item-link, .header-nav__list-lv2-item-link {
  min-width: 240px;
  font-size: 1.5rem;
  color: #fff;
  padding: 12px 20px;
}

.header-nav__list-lv3-item-link .hot__label::before, .header-nav__list-lv2-item-link .hot__label::before, .header-nav__list-lv1-item-link .hot__label::before {
  text-transform: uppercase;
  padding: 4px;
  font-size: 1rem;
  border-radius: 5px;
  position: relative;
  top: -1px;
  left: 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

input {
  outline: none;
  border: none;
}

.slider {
  width: 100%;
  display: flex;
}
.heading {
  width: 100%;
  margin: 50px 0 30px;
}
.heading-title {
  font-size: 2.2rem;
  color: #000;
  padding-bottom: 20px;
  border-bottom: 3px solid #e0dede;
  font-weight: 700;
}
.heading-title.white {
  color: #fff;
  border-bottom: 1px solid #fff;
  margin: 20px 15px;
}
.heading-desc {
  font-size: 1.5rem;
  margin-top: 40px;
}

.post-wrapper {
  margin-bottom: 40px;
  width: 100%;
}
.post-wrapper .post-image {
  margin-bottom: 24px;
  width: 100%;
  height: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.post-wrapper .post-image::before {
  content: "";
  position: absolute;
  inset: 0;
}
.post-wrapper .post-image:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}
.post-wrapper .post-image::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: -40px;
  border-width: 20px;
  border-style: solid;
  border-color: #ef1a1a #000 #000 #ef1a1a;
}
.post-wrapper .post-image:hover:after {
  bottom: 0;
  right: 0;
}
.post-wrapper .post-details__title {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #fff;
  margin-block: 8px;
  word-wrap: break-word;
}
.post-wrapper .post-details__desc {
  color: #9f9f9f;
  font-size: 1.2rem;
  margin-block: 15px;
}
.post-wrapper .post-details__desc-author span {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
.post-wrapper .post-details__desc-author span :hover {
  color: #ef1a1a;
}
.post-wrapper .post-details__desc-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #909090;
  margin-inline: 7px;
  position: relative;
  top: -1px;
}
.post-wrapper .post-details__excerpt {
  color: #333;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-break: auto;
}
.post-wrapper.post-wrapper-main .post-image {
  cursor: pointer;
}
.post-wrapper.post-wrapper-main .post-image::after {
  border-color: #ef1a1a #fff #fff #ef1a1a;
}
.post-wrapper.post-wrapper-main .post-details {
  margin-top: 12px;
}
.post-wrapper.post-wrapper-main .post-details__title {
  font-size: 2.2rem;
  color: #000;
}
.post-wrapper.post-wrapper-main .post-details__title:hover {
  color: #ef1a1a;
  cursor: pointer;
}

.post-details__category {
  background-color: #fff;
  padding: 6px 14px;
  display: inline-flex;
  border-radius: 20px;
  margin: 0 6px 8px 0;
  border: 1px solid #e0dede;
}
.post-details__category-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #994db1;
  margin-right: 10px;
}
.post-details__category-title::before {
  content: "covid";
  font-size: 1.4rem;
}
.post-details__category-title:hover {
  cursor: pointer;
  color: #ef1a1a;
}
.post-details__category.content-world .post-details__category-dot {
  background-color: #000;
}
.post-details__category.content-world .post-details__category-title::before {
  content: "world";
}
.post-details__category.content-video .post-details__category-dot {
  background-color: #0d30c3;
}
.post-details__category.content-video .post-details__category-title::before {
  content: "video";
}
.post-details__category.content-health .post-details__category-dot {
  background-color: #ed7e4f;
}
.post-details__category.content-health .post-details__category-title::before {
  content: "health";
}
.post-details__category.content-medicine .post-details__category-dot {
  background-color: #5b4cce;
}
.post-details__category.content-medicine .post-details__category-title::before {
  content: "medicine";
}

.post-wrapper.post-wrapper-inside {
  height: 100%;
}
.post-wrapper.post-wrapper-inside .post-image {
  height: 500px;
  cursor: pointer;
}
.post-wrapper.post-wrapper-inside .post-image:hover:before {
  background-color: rgba(0, 0, 0, 0.6);
}
.post-wrapper.post-wrapper-inside .post-image:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color ease 0.25s;
}
.post-wrapper.post-wrapper-inside .post-image:after {
  display: none;
}
.post-wrapper.post-wrapper-inside .post-image:hover .post-details {
  margin-bottom: 20px;
}
.post-wrapper.post-wrapper-inside .post-details {
  margin-inline: 50px;
  padding: 30px;
  position: absolute;
  bottom: 0;
}
.post-wrapper.post-wrapper-inside .post-details__desc {
  color: #fff;
}

.pin {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #fff;
}
.pin i, .pin span {
  font-size: 1.4rem;
}
.pin.rating-pin {
  background: #4545e8;
}
.pin.rating-pin span {
  color: #fff;
}

button.btn {
  padding: 14px 20px;
  color: #fff;
  font-size: 1.6rem;
  background-color: #ef1a1a;
  border: none;
  cursor: pointer;
}
button.btn:hover {
  background-color: #b93e3e;
}
button.btn.loading {
  margin: auto;
}
button.btn.full {
  width: 100%;
}
button.btn.socials {
  padding: 7px 20px;
  margin-block: 10px;
}
button.btn.socials span {
  display: block;
  text-align: left;
}
button.btn.socials span:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 700;
}
button.btn.socials span:nth-child(2) {
  font-size: 1.2rem;
}
button.btn.socials:hover {
  filter: brightness(0.85);
}

.lds-ring {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form-subcribe {
  padding: 30px;
  background: #eee;
}
.form-subcribe__heading:nth-child(n+1) {
  font-size: 2.4rem;
  margin-bottom: 24px;
  line-height: 1.4;
}
.form-subcribe__desc {
  font-size: 1.5rem;
  margin-bottom: 24px;
  line-height: 1.6;
}
.form-subcribe__input {
  padding: 8px 20px;
  font-size: 1.6rem;
  width: 100%;
  border-radius: inherit;
  margin-bottom: 24px;
}
.form-subcribe__input:focus {
  outline: 1px solid #ef1a1a;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: #ef1a1a;
  cursor: pointer;
}
.top i {
  color: #fff;
  font-size: 1.6rem;
}

.hide {
  display: none;
}

.header {
  margin-bottom: 24px;
}
.header-menu {
  flex-grow: 1;
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
}
.header-menu__list-left .header-menu__item i {
  margin-right: 10px;
}
.header-menu__item-link {
  padding: 10px;
  color: #0F0E0E;
}
.header-menu__item-link:hover {
  color: #ef1a1a;
}
.header-body {
  flex-grow: 1;
  height: 150px;
}
.header-body__logo-title-link {
  font-family: "Rubik", sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  color: #000;
}
.header-body__logo-desc {
  font-size: 1.5rem;
  margin-top: 0.6rem;
  color: #0F0E0E;
}
.header-body__advert {
  width: 500px;
}
.header-body__advert-link {
  text-decoration: none;
  color: transparent;
}
.header-body__advert-img {
  height: 100%;
  width: 100%;
}
.header-body__socials-item-link {
  font-size: 1.6rem;
  color: #000;
  margin-inline: 8px;
}
.header-body__socials-item-link:hover {
  color: #ef1a1a;
}
.header-body__socials-search {
  background: #f5f5f5;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}
.header-body__socials-search-icon {
  font-size: 1.6rem;
  margin: auto;
}
.header-body__socials-search:hover {
  background-color: #48494b;
  color: #fff;
}
.header-body__socials-search-input {
  position: absolute;
  height: 100%;
  width: 0;
  right: calc(100% + 10px);
  background: #fff;
  opacity: 0;
  -webkit-transition: width 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: width 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header-body__socials-search-input input {
  width: 80%;
  margin: auto;
  height: 100%;
  font-size: 1.6rem;
}
.header-nav {
  flex-grow: 1;
  padding-inline: 150px;
  background-color: #ef1a1a;
}
.header-nav__list-lv1 {
  position: relative;
  flex-grow: 1;
}
.header-nav__list-lv1-item-link {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  padding: 20px;
}
.header-nav__list-lv1-item-link:hover {
  background: rgba(0, 0, 0, 0.1);
}
.header-nav__list-lv1-item-link i {
  font-size: 1rem;
  margin-left: 4px;
}
.header-nav__list-lv1-item-link .hot__label::before {
  content: "hot";
  background-color: #000;
  color: #fff;
}
.header-nav__list-lv1-item:hover .header-nav__list-post-wrapper {
  display: block;
}
.header-nav__list-post-wrapper {
  position: absolute;
  left: -150px;
  width: 1200px;
  padding: 15px;
  background: #000;
  display: none;
  z-index: 1;
}
.header-nav__list-posts {
  display: flex;
}
.header-nav__list-posts-item {
  padding-inline: 15px;
  width: 25%;
}
.header-nav__list-lv1-item:hover .header-nav__list-lv2 {
  display: block;
}
.header-nav__list-lv2 {
  z-index: 1;
}
.header-nav__list-lv2-item {
  position: relative;
}
.header-nav__list-lv2-item-link i {
  font-size: 1rem;
}
.header-nav__list-lv2-item-link .hot__label::before {
  content: "hot";
  background-color: #ea3465;
  color: #fff;
}
.header-nav__list-lv2-item-link:hover {
  background: rgba(109, 101, 101, 0.2980392157);
}
.header-nav__list-lv2-item:hover .header-nav__list-lv3 {
  display: block;
}
.header-nav__list-lv3 {
  top: -10px;
  left: 100%;
  display: none;
}
.header-nav__list-lv3-item-link .hot__label::before {
  content: "parallex";
  background-color: #2b44ff;
  color: #fff;
}
.header-nav__list-lv3-item-link:hover {
  background: rgba(109, 101, 101, 0.2980392157);
}

.container-header {
  width: 100%;
  padding-block: 36px;
  background: #f5f5f5;
}
.container-main {
  padding-block: 50px;
}
.container-slider {
  height: 450px;
}
.container-slider .post-wrapper {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container-slider .post-wrapper .post-image {
  height: 450px;
}
.container-slider .post-wrapper .post-image::after {
  display: none;
}
.container-slider .post-wrapper .post-image .post-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container-content .post-wrapper.post-wrapper-main.first-half .post-image {
  height: 360px;
}
.container-content .post-wrapper.post-wrapper-main.first-half .post-details__title {
  font-size: 2.2rem;
}
.container-content .list-post-wrapper-content li .post-wrapper.post-wrapper-main {
  flex-wrap: nowrap;
}
.container-content .list-post-wrapper-content li .post-wrapper.post-wrapper-main .post-image {
  width: 150px;
  height: 150px;
  margin: 0 20px 0 0;
}
.container-content .list-post-wrapper-content li .post-wrapper.post-wrapper-main .post-details {
  flex: 1;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0;
}
.container-content .list-post-wrapper-content li .post-wrapper.post-wrapper-main .post-details__title {
  font-size: 1.8rem;
}
.container-content .list-post-wrapper-content li .post-wrapper.post-wrapper-main .post-details__desc {
  margin: 0;
}
.container-content__advert {
  margin-block: 24px;
  height: 70px;
}
.container-content__advert-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-content__loadmore .grid-row:nth-child(2) .grid__column-1-3 {
  animation: fadeIn ease 0.5s;
}
.container-content__loadmore .grid-row:nth-child(2) .grid__column-1-3:nth-child(n+4) {
  display: none;
}
.container-content__loadmore-btn {
  margin: 20px auto;
}
.container-content__loadmore .post-wrapper.post-wrapper-main .post-image {
  height: 280px;
}
.container-content__loadmore .post-wrapper.post-wrapper-main .post-details__title {
  font-size: 1.8rem;
}
.container-content__post-no-image {
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
.container-content__bonus {
  margin-block: 40px;
}
.container-content__bonus .list-post-wrapper-content li:nth-child(n+8) {
  display: none;
}
.container-content__bonus .list-post-wrapper-content li .post-wrapper.post-wrapper-main .post-image {
  width: 280px;
  height: 280px;
  margin: 0 40px 0 0;
}
.container-content__bonus .list-post-wrapper-content li .post-wrapper.post-wrapper-main .post-details {
  height: 280px;
}
.container-content__bonus .side-bar {
  position: sticky;
  top: 40px;
  padding-left: 30px;
}
.container-content__bonus .side-bar .heading {
  margin: 40px 0 20px 0;
}
.container-content__bonus .side-bar .heading-title {
  border-bottom-width: 1px;
}
.container-content__bonus .side-bar .list-post-wrapper-content li .post-wrapper.post-wrapper-main .post-image {
  width: 120px;
  height: 100px;
  margin: 0 10px 0 0;
}
.container-content__bonus .side-bar .list-post-wrapper-content li .post-wrapper.post-wrapper-main .post-details {
  height: 100px;
}
.container-content__bonus .side-bar .list-post-wrapper-content li .post-wrapper.post-wrapper-main .post-details__title {
  margin: 0;
  font-size: 1.6rem;
}
.container-content__bonus .side-bar .post-wrapper.post-wrapper-inside .post-image {
  height: 350px;
}
.container-content__bonus .side-bar .post-wrapper.post-wrapper-inside .post-details__title {
  font-size: 2.2rem;
}

.footer {
  background: #13181c;
  padding-block: 50px;
}
.footer-heading {
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}
.footer-list {
  color: #fff;
  display: flex;
}
.footer-list li {
  font-size: 1.5rem;
  line-height: 2;
  padding-right: 40px;
}
.footer-list li p {
  margin-bottom: 25px;
}
.footer-list li .footer-contact {
  margin-bottom: 25px;
}
.footer-list li .post-wrapper.post-wrapper-main .post-details__category {
  color: #000;
  line-height: 1;
}
.footer-list li .post-wrapper.post-wrapper-main .post-details__title {
  font-size: 1.6rem;
  color: #fff;
}
.footer-list li:nth-child(1) {
  flex: 2;
}
.footer-list li:nth-child(2) {
  flex: 2;
}
.footer-list li:nth-child(3) {
  flex: 1;
}
.footer-list li:nth-child(3) ul li {
  color: #9f9f9f;
}
.footer-bottom {
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-bottom__license {
  font-size: 1.5rem;
  color: #9f9f9f;
}
.footer-bottom__license span {
  color: #fff;
  font-weight: 700;
}
.footer-bottom__socials {
  display: flex;
}
.footer-bottom__socials-icon {
  font-size: 1.8rem;
  color: #fff;
  margin-inline: 10px;
}
.footer-bottom__socials-icon:hover {
  color: #ef1a1a;
}
.footer-bottom__socials-icon:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
